# Environments
.env

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Pytest / Coverage
.pytest_cache/
.coverage
htmlcov/

# Virtual environments
venv/
env/
ENV/
env.bak/
venv.bak/

# Project files
parsed_pdf.txt
